<app-header titulo="DateTime"></app-header>

<ion-content>

  <ion-list>

    <ion-list-header>
      <ion-label>Datos de nacimiento</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Fecha de Nacimiento</ion-label>
      <ion-datetime placeholder="Nacimiento" display-format="DD MMMM YYYY" cancelText="Cancelar"
        [ngModel]="fechaNaci.toISOString()" (ionChange)="cambioFecha($event)">
      </ion-datetime>
    </ion-item>


    <ion-list-header>
      <ion-label>Restricciones</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Min y Max</ion-label>
      <ion-datetime placeholder="DD MM YYYY" display-format="DD.MM.YYYY" min="2015-01-01" max="2015-12-31">
      </ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Años</ion-label>
      <ion-datetime placeholder="YYYY" value="2021" display-format="YYYY" min="2015" max="2025">
      </ion-datetime>
    </ion-item>


    <ion-item>
      <ion-label>Custom Date</ion-label>
      <ion-datetime [pickerOptions]="customPickerOptions" [(ngModel)]="customDate">
      </ion-datetime>
    </ion-item>


  </ion-list>

</ion-content>